* {
  font-family: var(--font-family);
}

body {
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-light);
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-accent);
}
::-moz-scrollbar {
  width: 10px;
  background-color: var(--secondary-light);
}
::-moz-scrollbar-thumb {
  background-color: var(--secondary-accent);
}
