.page__container {
	padding: 20px;
	max-width: 1024px;
	margin: 20px auto;
	flex-direction: row;
	background: var(--surface);
}

.box__container {
	margin: 2rem 0;
	padding: 2rem;
	display: grid;
	place-items: center;
	background: rgba(0, 0, 0, 0.5);

	cursor: pointer;
	outline: 2px dashed var(--primary);
	outline-offset: 1rem;
	transition: 300ms ease-in all;
	&:hover {
		background: rgba(0, 0, 0, 0.1);
	}
}

footer {
	border-top: var(--outline);
	padding: 1rem;
	display: grid;
	margin-top: 3rem;
	justify-items: end;
}
