$font-family: var(--font-family);
$secondary-font-family: var(--secondary-font-family);
$title-font: var(--secondary-font-family);

// Variables
$primary: var(--primary);
$primary-darker: var(--primary-darker);
$primary-lighter: var(--primary-lighter);
$secondary: var(--secondary);
$secondary-darker: var(--secondary-darker);
$secondary-lighter: var(--secondary-lighter);
$background: var(--background);
$surface: var(--surface);
